*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body, html{
    width: 100%;
}

/* HERO SECTION */

.hero{
    padding-bottom: 5rem;
    background-color: #D2EE62;
    background: url(../img/img-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.hero-text {
    text-align: center;
    position: relative;
    padding-top: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.img-hero{
    position: absolute;
    width: 100%;
    z-index: 0;
}

/* TEXT STYLE */

.h1{
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}

.h2{
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
}

.page-title{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    padding-top: 10rem;
}

.h5{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

/* BUTTONS */

.btn-hero{
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;
    border-bottom: solid 4px #FFF;
    padding: 20px;
    margin-top: 20px;
}

/* .btn-hero:hover{
    background-color: #fff;
    color: #282828;
} */

/* IMAGES & ICONS*/

.img-logo{
    width: 144px;
    height: 144px;  
    display: block;
    margin-bottom: 2rem;
}

/* FILTER */

.cover-frame{
    background-image:url(../img/img-placeholder.jpg);
    height:500px;
    position:relative;
    background-size:cover;
    /*animate*/
    transition:all .2s ease-in;
}

.cover-frame:hover{
    background-image:url(../img/img-placeholder-hover.jpg);
    /*animate*/
    transition:all .4s ease-in;
}

.title-overlay{
    position: absolute;
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color:rgba(0,0,0,.5);
    color:white;
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:500px;
    /*animate*/
    transition:all .3s ease-in;
}

.cover-frame:hover .overlay{
    opacity:0;
}

.frame-shop{
    /*es el q tiene el boton*/
    opacity:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    width:100%;
    height:500px;
    /*animate*/
    transition:all .2s ease-in;
}

.frame-shop:hover{
    opacity: 100;
    /*animate*/
    transition:all .6s ease-in;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.container{
    padding-left: 0;
    padding-right: 0;
}

.height-25{
    height:250px;
}

/* IMAGES UNDERNEATH */

.img-cover-50{
    height: 50rem;
    width: 50vw;
    object-fit: cover;
    border: solid 3px red;

}

.img-cover-50x-25y{
    object-fit: cover;
    height: 25rem;
    width: 50vw;
    border: solid 3px red;

}

.img-cover-25{
    object-fit: cover;
    height: 25rem;
    width: 25vw;
    border: solid 3px red;

}

/* VARIABLES*/

.dark{
    color: #282828;
}

.d-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.r-center{
    justify-content: center;
    align-items: center;
}

/* HEADER */

.navbar{
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1;
}

.promo-strip{
    width: 100vw;
    height: 2rem;
    top: 0;
    background-color: #D2EE62;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5rem;
}

#promo p{
    color: #000;
    font-family: "Josefin Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 0.5rem;
}

.navbar ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    padding-top: 1rem;
    padding-right: 1.5rem;
}

/* BREADCRUMBS */

/* SECTIONS */

.section-1{
    background-color: aqua;
    height: 60rem;
}
