@use './partials/variables';
@use './partials/buttons';
@use './partials/category-layout';
@use './partials/hero';
@use './partials/img-and-icons';
@use './partials/navbar';
@use './partials/sections';
@use './partials/text-style';

*{
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
}

html{
    font-size: 62.5%;
    background-color: $color-white;
    font-family: "primary-font";
}


@font-face {
    font-family: "primary-font";
    src:url("../fonts/RussischSans-ExtraLight.ttf");
    src:url("../fonts/RussischSans-Light.ttf");
    src:url("../fonts/RussischSans-Regular.ttf");
    src:url("../fonts/RussischSans-Medium.ttf");
    src:url("../fonts/RussischSans-SemiBold.ttf");
    src:url("../fonts/RussischSans-Bold.ttf");
    src:url("../fonts/RussischSans-ExtraBold.ttf");
}



