@use './partials/buttons';
@use './partials/category-layout';
@use './partials/hero';
@use './partials/img-and-icons';
@use './partials/navbar';
@use './partials/sections';
@use './partials/text-style';
@use './partials/product-card';
@use './partials/filters';
@use './partials/variables';
@use './partials/sort';
@use './partials/breadcrumbs';
@use './partials/footer';
@use './partials/search-bar';
@use './partials/promo-strip';
@use './partials/newsletter';
@use './partials/cart';
@use './partials/reviews';
@use './partials/accordion';
@use './partials/img-gallery';
@use './partials/about';
@use './partials/side-filters';
@use './partials/sidebar';
@use './partials/shop-progress';
@use './partials/dropdown-color';
@use './partials/ig-slider';
@use './partials/collections';



*{
    margin: 0;
    padding: 0;
}

body, html{
    width: 100%;
}

html{
    font-size: 62.5%;
    background-color:  #E1E7FE;
    font-family: "primary-font";
    color: #282828;
}


@font-face {
    font-family: "primary-font";
    src:url("../fonts/RussischSans-ExtraLight.ttf");
    src:url("../fonts/RussischSans-Light.ttf");
    src:url("../fonts/RussischSans-Regular.ttf");
    src:url("../fonts/RussischSans-Medium.ttf");
    src:url("../fonts/RussischSans-SemiBold.ttf");
    src:url("../fonts/RussischSans-Bold.ttf");
    src:url("../fonts/RussischSans-ExtraBold.ttf");
}


.d-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.d-end{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.d-end-start{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.d-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

.r-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.r-end{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.r-end-start{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
}

.r-start{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.r-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.r-between-start{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.r-between-end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.r-end-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

.w-90{
    padding: 5rem 10rem 0;
}

