
@use 'partials/hero';
@use 'partials/text-style';
@use 'partials/buttons';
@use 'partials/img-and-icons';
@use 'partials/category-layout';
@use 'partials/sections';


*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body, html{
    width: 100%;
}

.dark{
    color: #282828;
}

.d-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.r-center{
    justify-content: center;
    align-items: center;
}