.btn-hero{
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;
    border-bottom: solid 4px #FFF;
    padding: 20px;
    margin-top: 20px;
}

/* .btn-hero:hover{
    background-color: #fff;
    color: #282828;
} */
