.dark{
    color: #282828;
}

.d-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.r-center{
    justify-content: center;
    align-items: center;
}