//ABOUT
.section-about{
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6rem;
}

.about-description{
    padding: 0;
}

.icn-about{
    .icn-about{
        width: 200px;
        height: 200px;
        margin-bottom: 4rem;
    }
}

.wrapper-about-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 6rem;
}

@media only screen and (max-width: 576px){
    .icn-about{
        width: 150px;
        height: 150px;
        padding: 1rem;
        margin-bottom: 6rem;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px){
    .icn-about{
        width: 150px;
        height: 150px;
        padding: 1rem;
        margin-bottom: 6rem;
    }
}
@media only screen and (min-width: 769px) and (max-width: 990px){
    .icn-about{
        width: 150px;
        height: 150px;
        padding: 2rem;
    }
}
@media only screen and (min-width: 991px) and (max-width: 1200px){
    .icn-about{
        width: 150px;
        height: 150px;
        padding: 1rem;
    }

}
@media only screen and (min-width: 1201px){
    .icn-about{
        width: 150px;
        height: 150px;
    }
}



