//ABOUT
.section-about{
    justify-content: flex-start;
    align-items: flex-start;
}

.about-description{
    padding: 0;
}

.icn-about{
    width: 12rem;
    height: 12rem;
    padding-bottom: 3rem;
}

.section-about-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 0;
    margin: 0;
}

.wrapper-about-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    padding-top: 2rem;
}

@media only screen and (max-width: 576px){
    .section-about-item{
        width: 50%;
    }

    .icn-about{
        width: 16rem;
        height: 16rem;
        padding-bottom: .5rem;
    }

    .wrapper-about-items{
        padding-top: 4rem;
    }
}
@media only screen and (max-width: 990px){

    .about-title{
        padding-bottom:6rem;
    }

    .about-description{
        padding-bottom: 3rem;
    }

}