.accordion-item{
    border: none;
}
.accordion-button{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #282828;
    font-size: 2.2rem;
    font-weight: 200;
    line-height: 4rem;
    text-align: left;
}

.accordion-button:not(.collapsed) {
    color: #282828;
    background-color: transparent;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
    width: auto;
    height: auto;
    background-image: none;
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: 24px;
    color: #282828;
}
.accordion-button::after {
    content: "+";
    font-weight: 100;
    color: #282828;
    transform: translateY(-4px);
    top: 20px;
}

.accordion-button:not(.collapsed)::after {
    content: "-";
    color: #282828;
    transform: translate(-5px, -4px);
    transform: rotate(0deg);
}

