/* @use '../partials/variables';  */

.btn-hero{
    color: #282828;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #CCFF00;
    border: none;
    border-radius: 40px;
    padding: 24px 36px;

    &:hover{
        background-color: #00FF85;
        color: #282828;
    }
}

.btn-add-bg{
    fill: #CCFF00;
    &:hover{
        fill: #00FF85;
    }
}

.btn-add{
    position: absolute;
    top: 285px;
    bottom:0;
    left:0;
    right:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:100%;
    height: fit-content;
}

.btn-category{
    color: #282828;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #CCFF00;
    border: none;
    border-radius: 40px;
    padding: 18px 28px;
    &:hover{
        background-color: #00FF85;
        color: #282828;
    }
}

.btn-subscribe{
    color: #282828;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #CCFF00;
    border: none;
    border-radius: 40px;
    padding: 18px 28px;
    min-width: 144px;
    &:hover{
        background-color: #00FF85;
        color: #282828;
    }
}

.btn{
    background-color: transparent;
}

.btn-product-add{
    width: 100%;
    color: #282828;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #CCFF00;
    border: none;
    border-radius: 40px;
    padding: 24px 36px;

    &:hover{
        background-color: #00FF85;
        color: #282828;
    }
}
.btn-product-added{
    width: 100%;
    color: #282828;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #DDE4C1;
    border: none;
    border-radius: 40px;
    padding: 24px 36px;
}

.btn-after-add-1{
    width: 100%;
    color: #282828;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #00FF85;
    border: solid 2px #00FF85;
    border-radius: 40px;
    padding: 20px 36px;
    margin-right: .5rem;

    &:hover{
        background-color: #05E0E0;
        border: solid 2px #05E0E0;
        color: #282828;
    }
}
.btn-after-add-2{
    width: 100%;
    color: #282828;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: solid 2px #282828;
    border-radius: 40px;
    padding: 20px 36px;
    margin-left: .5rem;

    &:hover{
        background-color: #E1E7FE;
        border: solid 2px #E1E7FE;
        color: #282828;
    }
}

//badge with total amount items

.bg-danger {
    background-color: #00FF85 !important;
    &:hover{
        background-color:  #CCFF00 !important;
    }
    }

.badge{
    color: #282828;
    display: inline-block;
    padding: .6rem .9rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3rem;
}

.btn .badge {
    position: relative;
    top: -1px;
    right: -1px;
    }

.btn-amount{
    margin: 0 1rem;
    background-color: transparent;
    border: none;
    box-shadow: none;
}


@media only screen and (min-width: 320px) and (max-width: 576px) {
    .btn-hero{
        min-width: 100%;
    }
    .btn-subscribe{
        min-width: 100%;
    }
}
