
.filter{
    margin-bottom: 3rem;
}

.ul-value{
    list-style: none;
}

.input-filter-value{
    width: 100%;
    border-radius: 0;
    padding: 6px 12px 6px 12px;
    background: transparent;
    border: 1px solid #282828;
    background-color: transparent;
    color: #282828;
    font-size: 16px;
    font-weight: 400;
    margin: 0;

    &:focus{
    outline: none;
    }

    &::placeholder{
    color: #282828;
    font-weight: 200;
    }
}

@media only screen and (max-width: 576px){

}

@media only screen and (min-width: 769px) and (max-width: 990px){
   
}

@media only screen and (min-width: 991px) and (max-width: 1200px){
   
}

@media only screen and (min-width: 1201px){
  
}