.hero{
    height: 800px;
    overflow: hidden;
}

.hero-text {
    text-align: center;
    position: relative;
    padding: 46rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    width: 100%;
}

.logo{
    position: relative;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-banner-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}