
.gallery-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 4rem;
  }

  .small-images{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    height: 70rem;
    margin-right: .2rem;
  }

  .big-image{
    width: 70rem;
    height: 70rem;
  }
  
  .small-images img {
    width: 16rem;
    height: 16rem;
    cursor: pointer;
  }

  .small-images img:not(:last-child) {
    margin-bottom: calc(6rem / 3);
}

  .big-image img {
    width: 100%;
  }
