//NAVBAR INDEX

.navbar{
    position: fixed;
    justify-content: center;
    width: 100%;
    z-index: 1;
    padding: 0;
}

.navbar-ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 3rem;
}

.col-nav-icn{
  width: 25%;
}
.col-nav-brand{
  width: 50%;
}

.nav-brand{
  width: 100%;
}
  
//NAVBAR PRODUCTOS
  
.navbar-products{
  background-color: #F8FCF5;
}


@media only screen and (max-width: 768px){
  .nav-brand{
    width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px){
  .nav-brand{
    width: 50%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px){
  .col-nav-icn{
    width: 30%;
  }
  .col-nav-brand{
    width: 30%;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px){
  .nav-brand{
    width: 30%;
  }
}

@media only screen and (min-width: 1201px){
  .nav-brand{
    width: 30%;
  }
}


