//NAVBAR INDEX

.navbar{
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1;
}

.navbar ol{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    padding-top: 1rem;
    padding-right: 1.5rem;
}

.nav-brand{
  width: 220.68px;
  height: 48.13px;
}

.page-logo{
  z-index: 1;
}
  
//NAVBAR PRODUCTOS
  

.navbar-products{
  background-color: #F8FCF5;
}

.navbar ol{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

.nav-brand{
width: 220.68px;
height: 48.13px;
}

.page-logo{
z-index: 1;
}