//NAVBAR INDEX

.navbar{
    position: fixed;
    justify-content: center;
    width: 100%;
    z-index: 1;
    padding: 0;
    padding-bottom: 1rem;
    background-color: transparent;
}

.navbar-ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: .5rem 3rem;
}

.navbar-scroll-light {
  background-color: #28282899;
}

.navbar-scroll-dark {
  background-color: transparent;
}

.col-nav-icn{
  width: 25%;
}
.col-nav-brand{
  width: 50%;
}

.nav-brand{
  width: 100%;
}
  
//NAVBAR PRODUCTOS
  
.navbar-products{
  background-color: #F8FCF5;
}

//SIDEBAR
.sidebar {
  position: fixed;
  top: 0;
  left: -30%; /* Initial position off the screen */
  width: 30%;
  height: 100%;
  background-color: #E1E7FE;
  transition: left 0.4s ease-in-out; /* Add transition for smooth sliding */
  z-index: 5;
}
.sidebarPages {
  position: fixed;
  top: 0;
  left: -30%; /* Initial position off the screen */
  width: 30%;
  height: 100%;
  background-color: #F8FCF5;
  transition: left 0.4s ease-in-out; /* Add transition for smooth sliding */
  z-index: 5;
}

.sidebar-open {
  left: 0; /* Slide in to the screen */
}
.sidebarPages-open {
  left: 0; /* Slide in to the screen */
}

.icn-close{
  position: relative;
  width: 36px;
  margin-top: 4rem;
  margin-left: 90%;
}
.sidebar-ul{
  list-style: none;
  width: 100%;
  margin-top: 2rem;
}
.sidebar-social{
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  .sidebar-social-icn{
    width: 42px;
    margin-top: 1rem;
    margin-right: 1rem;
  }
}





@media only screen and (max-width: 768px){
  .nav-brand{
    width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 990px){
  .nav-brand{
    width: 50%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px){
  .col-nav-icn{
    width: 30%;
  }
  .col-nav-brand{
    width: 30%;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1200px){
  .nav-brand{
    width: 30%;
  }
}

@media only screen and (min-width: 1201px){
  .nav-brand{
    width: 30%;
  }
}


