.input-box-subscribe{
    width: 300px;
    height: 48px;
    box-sizing: border-box;
    outline: 1px solid #282828;
    background-color: #fff4;
    border-radius: 0;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
}