
.search-box{
    position: relative;
    width: 40%;
    border-radius: 0;
    padding: 6px 12px 6px 12px;
    background: transparent;
    border: 1px solid #282828;
  }
  
  .input{
    background-color: transparent;
    border: none;
    color: #282828;
    font-size: 16px;
    font-weight: 400;
  
    &:focus{
      outline: none;
    }
  
    &::placeholder{
      color: #282828;
      font-weight: 200;
    }
  }
  
  .btn-search{
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      border: none;
      background-color: transparent;
  
      .icn-search{
        height: 100%;
        width: 100%;
        fill: #282828;
        background-color: transparent;
  
        &:hover{
          fill: #fff;
          background-color: #282828;
        }
      }
      }