/* @use '../partials/variables'; */

.bg-color{
    background-color: #E1E7FE;
}

.bg-black{
    background-color: #282828;
}

.color-white{
    color: #E1E7FE;
}



.section-about{
    justify-content: flex-start;
    align-items: flex-start;
}

.wrapper-about{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.icn-about{
    width: 12rem;
    height: 12rem;
}

.section-about-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 0;
    margin: 0;
}

.section-padding{
    padding: 12rem;
}

.p-divider{
    padding-bottom: 6rem;
}

.section-ptb{
    padding: 24rem 0;
}

.line-top{
    border-top: solid 1px #282828;
}

.section-cart-padding{
    padding: 12rem 24rem;
}

.section-about-padding{
    padding: 12rem 24rem;
}


@media only screen and (max-width: 768px){
    .wrapper-about{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .section-about-item{
        width: 100%;
    }

}
@media only screen and (max-width: 990px){
    .section-about-padding{
        padding: 12rem 3rem;
    }
    .section-about-item{
        width: 50%;
    }
}
@media only screen and (min-width: 321px){
    .wrapper-about{
    padding: 3rem 0;
    }
}
@media only screen and (min-width: 991px){
    .section-about-padding{
        padding: 6rem 3rem;
    }
    .wrapper-about{
        padding: 3rem 0;
        }
}

