/* @use '../partials/variables'; */

.bg-color{
    background-color: #E1E7FE;
}

.section-about-1{
    padding: 12rem 0;
}

.section-about-2{
    padding: 3rem 0;
}

@media only screen and (max-width: 990x) {

    .section-about-1{
        padding: 12rem 0 0 0;
    }
    
    .section-about-2{
        padding: 3rem 0 12rem 0;
    }

}

.section-about-items{
    padding: 0;
    margin: 0;
}

.section-padding{
    padding: 12rem;
}

.p-divider{
    padding-bottom: 6rem;
}

.section-ptb{
    padding: 24rem 0;
}

.line-top{
    border-top: solid 1px #282828;
}

.section-cart-padding{
    padding: 12rem 24rem;
}