
//HEADINGS
.lg-heading{
    font-size: 24rem;
    font-weight: 50;
    line-height: 80%;
}

.md-heading{
    font-size: 9rem;
    font-weight: 50;
    line-height: 80%;
}

.sm-heading{
    font-size: 3rem;
    font-weight: 200;
    line-height: 6rem;
}

//PAGE TITLE
.page-title{
    font-size: 3.5rem;
    font-weight: 200;
    line-height: normal;
    text-align: center;
    padding-top: 8rem;
}

//
.h1{
    color: #FFF;
    font-size: 3rem;
    font-weight: 50;
    line-height: normal;
    margin-bottom: 1rem;
}

.h5{
    //index about icons
    font-size: 2.3rem;
    font-weight: 300;
    line-height: normal;
}

.p{
    //p index about
    font-size: 3rem;
    font-weight: 200;
    line-height: normal;
}


//INDEX CATEGORY-CARDS
.title-overlay{
    position: absolute;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    opacity: 100;
    &:hover{
        opacity: 0;
    }
}


//FILTERS
.category-li, .color-li{
    cursor: pointer;
}

.filter-name{
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 1rem;
}

.filter-value-label{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    line-height: normal;
}

.filter-value{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 1rem;
}

//PRODUCT CARD
.product-title{
    font-size: 2.2rem;
    font-weight: 200;
    line-height: normal;
    padding-bottom: 1rem;
}

.producct-price{
    font-size: 2.6rem;
    font-weight: 400;
    line-height: normal;
}

//PRODUCT PAGE
.selected-product-title{
    font-size: 4rem;
    font-weight: 200;
    line-height: normal;
    padding-bottom: 1rem;
}

.selected-product-description{
    font-size: 2rem;
    font-weight: 200;
    line-height: normal;
    padding-bottom: 1rem;
}
.selected-product-adding{
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 1rem;
}

.selected-product-price{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 1rem;
}

.filter-selected-name{
    display: inline;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: normal;
    padding: .5rem 1rem;
}

//REVIEWS
.review-name{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6rem;
}


//CART
.cart-prod-xbold{
    font-size: 2.2rem;
    font-weight: 600;
    line-height: normal;
}
.cart-prod-bold{
    font-size: 2.2rem;
    font-weight: 400;
    line-height: normal;
}

.cart-prod-reg{
    font-size: 2rem;
    font-weight: 200;
    line-height: normal;
}

//FOOTER
.h6-footer{
    font-size: 2.6rem;
    font-weight: 400;
    padding-bottom: 2rem;
}

.p-footer{
    font-size: 2.2rem;
    font-weight: 400;
    line-height: normal;
    padding-top: 2rem;
}

//SIDEBAR
.sidebar-li{
    font-size: 2.6rem;
    font-weight: 400;
    line-height: normal;
    padding: 1rem 1.8rem;
    &:hover{
        background-color: #28282899;
        color: #F8FCF5;
    }
}

a{
    text-decoration: none;
}

@media only screen and (max-width: 576px){
    .md-heading{
        font-size: 6rem;
    }
    .lg-heading{
        font-size: 14rem;
        line-height: 90%;
    }
    .h5{
        font-size: 2rem;
        font-weight: 200;
    }
}

@media only screen and (max-width: 990x) {

    .selected-product-description{
        width: 100%;
    }
}

@media only screen and (min-width: 320px){
    .md-heading{
        margin-top: 6rem;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1200px){
    .p{
        font-size: 2.2rem;
        padding-top: 1rem;
    }
    .lg-heading{
        font-size: 22rem;
    }
}

@media only screen and (min-width: 1201px){
    .p{
        font-size: 3rem;
        padding-top: 1rem;
    }
    .lg-heading{
        font-size: 27rem;
    }
}